.profileContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profileHeader {
    background-color: var(--mainHeader);
    color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--tertiary);
}

.profileDetails h1 {
    font-size: 2em;
    margin: 0;
}

.profileDetails p {
    font-size: 1em;
    margin: 5px 0;
}

.profileDetails .button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--mainHeader);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.profileDetails .button:hover {
    background-color: var(--tertiary);
}

/* Section des projets */
.projectsSection {
    margin-top: 20px;
}

.projectsSection h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.projectsList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background: #1e1e3f;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: background 0.3s ease;
}

.projectCard:hover {
    background: #2a2a5a;
}

.projectCard h3 {
    font-size: 1.5em;
}

.projectCard p {
    font-size: 1em;
    margin-bottom: 15px;
}


.projectCard .button {
    gap: 5px;
    background: #5c5cff;
    color: white;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.projectCard .button:hover {
    background: #7878ff;
}