:root {
    --main: #0E1126;
    --mainHeader:#260E59;
    --mainFooter:#260E59;
    --secondary: #cfcfcf;
    --secondary100:#5D04D9;
    --tertiary: #3e18af;
    --accent: rgba(207, 207, 207, 0.9);
}