/* Section des projets */
.projectsSection {
    margin-top: 20px;
}

.projectsSection h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.projectList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard {
    background: #1e1e3f;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: background 0.3s ease;
}

.projectCard:hover {
    background: #2a2a5a;
}

.projectCard h3 {
    font-size: 1.5em;
}

.projectCard p {
    font-size: 1em;
    margin-bottom: 15px;
}

.projectCard .button {
    gap: 5px;
    background: #5c5cff;
    color: white;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.projectCard .button:hover {
    background: #7878ff;
}