/* Section des projets */
.projectsSection {
    margin-top: 20px;
}

.projectsSection h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.projectList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard {
    background-color: var(--main);
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.projectCard h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projectCard p {
    font-size: 1em;
    margin-bottom: 15px;
}

.projectCard .button {
    padding: 8px 15px;
    font-size: 0.9em;
    background-color: var(--mainHeader);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.projectCard .button:hover {
    background-color: var(--tertiary);
}